AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=http://localstack:4566
MADARA_ORCHESTRATOR_AWS_PREFIX=mo
MADARA_ORCHESTRATOR_MONGODB_CONNECTION_URL=mongodb://mongodb:27017
MADARA_ORCHESTRATOR_DATABASE_NAME=orchestrator
MADARA_ORCHESTRATOR_MADARA_RPC_URL=http://madara:9944
MADARA_ORCHESTRATOR_MADARA_FEEDER_GATEWAY_URL=http://madara:8080/feeder_gateway
MADARA_ORCHESTRATOR_RPC_FOR_SNOS=http://pathfinder:9545
MADARA_ORCHESTRATOR_ETHEREUM_SETTLEMENT_RPC_URL=http://besu-validator1:8545
MADARA_ORCHESTRATOR_ETHEREUM_DA_RPC_URL=http://besu-validator1:8545
MADARA_ORCHESTRATOR_ATLANTIC_RPC_NODE_URL=http://besu-validator1:8545
MADARA_ORCHESTRATOR_ETHEREUM_PRIVATE_KEY=<REDACTED>
MADARA_ORCHESTRATOR_STARKNET_OPERATOR_ADDRESS=0x70997970C51812dc3A010C7d01b50e0d17dc79C8
MADARA_ORCHESTRATOR_ETHEREUM_FINALITY_RETRY_WAIT_IN_SECS=4
MADARA_ORCHESTRATOR_ETHEREUM_DISABLE_PEERDAS=true
MADARA_ORCHESTRATOR_MOCK_VERIFIER_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
MADARA_ORCHESTRATOR_L1_CORE_CONTRACT_ADDRESS=0x94099942864ea81ccf197e9d71ac53310b1468d8
MADARA_ORCHESTRATOR_MAX_BATCH_TIME_SECONDS=90
MADARA_ORCHESTRATOR_MAX_BATCH_SIZE=40
MADARA_ORCHESTRATOR_BATCHING_LOCK_DURATION_SECONDS=3600
MADARA_ORCHESTRATOR_MAX_BLOCKS_PER_SNOS_BATCH=10
MADARA_ORCHESTRATOR_MAX_CONCURRENT_CREATED_SNOS_JOBS=40
MADARA_ORCHESTRATOR_MAX_CONCURRENT_PROVING_JOBS=40
MADARA_ORCHESTRATOR_MAX_CONCURRENT_SNOS_JOBS=40
MADARA_ORCHESTRATOR_SNOS_FULL_OUTPUT=true
MADARA_ORCHESTRATOR_MIN_BLOCK_NO_TO_PROCESS=0
RUST_LOG=info
MADARA_ORCHESTRATOR_AWS_SQS_QUEUE_IDENTIFIER={}_queue
MADARA_ORCHESTRATOR_AWS_S3_BUCKET_IDENTIFIER=mo-bucket
MADARA_ORCHESTRATOR_AWS_SNS_TOPIC_IDENTIFIER=mo-alerts
MADARA_ORCHESTRATOR_SHARP_CUSTOMER_ID=sharp_consumer_id
MADARA_ORCHESTRATOR_SHARP_URL=http://stwo-gateway:6000
MADARA_ORCHESTRATOR_SHARP_USER_CRT=<BASE64_CERT>
MADARA_ORCHESTRATOR_SHARP_USER_KEY=<BASE64_KEY>
MADARA_ORCHESTRATOR_SHARP_SERVER_CRT=<BASE64_CERT>
MADARA_ORCHESTRATOR_SHARP_RPC_NODE_URL=http://besu-validator1:8545
MADARA_ORCHESTRATOR_SHARP_PROOF_LAYOUT=small
MADARA_ORCHESTRATOR_GPS_VERIFIER_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
MADARA_ORCHESTRATOR_OTEL_COLLECTOR_ENDPOINT=http://otel-collector:4317
MADARA_ORCHESTRATOR_BOUNCER_WEIGHTS_LIMIT_FILE=/configs/bouncer_weights.json
